.product-image {
    text-align: center;
    border: 1px solid black;
    max-width: 53%;
    height: auto;
    margin-left: 20%;
    img {
        max-width: 100%;
        height: auto;
    }
}

.product-info {
    text-align: left;
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.quantity {
    text-align: center;
    width: 70px
}

.button {
    text-align: center;
    width: 100%;
    display: flex;
    margin-left: 40%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.product-price {
    font-size: 1.1rem;
    color: #e84a5f;
    margin-top: 5px;
}