<div class="container col-4 form">

    <dx-form id="form" [(formData)]="loginForm">

        <dxi-item dataField="username" editorType="dxTextBox" [editorOptions]="userOptions">

        </dxi-item>
        <dxi-item dataField="password" editorType="dxTextBox" [editorOptions]="passOptions">

        </dxi-item>

    </dx-form>
    <br>
    <dx-button class="button" text="Đăng nhập" (click)="onSubmit()"></dx-button>
    <br>
    <br>
    <div style="text-align: center;" class="alert alert-danger" role="alert" *ngIf="messageError">
        Tài khoản và Mật khẩu không được bỏ trống !!!
    </div>
</div>