.cart-image {
    width: 50px;
    height: auto;
}
.quantity {
    text-align: center;
    width: 70px
    
}
.button {
    text-align: center;
    width: 100%;
    display: flex;
    margin-left: 40%;
}