<div class="container col-5 form">
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <div class="messageError">
                <label for="fullName" class="form-label">Họ và tên</label>
                <div class="text-danger" *ngIf="submitted && registerForm.fullName === ''">&nbsp;&nbsp;(Họ và tên là bắt buộc)</div>
            </div>
            <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="registerForm.fullName" required>
        </div>

        <div class="mb-3">
            <div class="messageError">
                <label for="email" class="form-label">Email</label>
                <div class="text-danger" *ngIf="submitted && (registerForm.email === '' || !isValidEmail(registerForm.email))">&nbsp;&nbsp;(Email không hợp lệ)</div>
            </div>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="registerForm.email" required>
        </div>

        <div class="mb-3">
            <div class="messageError">
                <label for="username" class="form-label">Tên tài khoản</label>
                <div class="text-danger" *ngIf="submitted && registerForm.username === ''">&nbsp;&nbsp;(Tên tài khoản là bắt buộc)</div>
                <div class="text-danger" *ngIf="submitted && checkUsername">&nbsp;&nbsp;(Tài khoản đã được đăng kí !)</div>
            </div>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="registerForm.username" required>
        </div>

        <div class="mb-3">
            <div class="messageError">
                <label for="password" class="form-label">Mật khẩu</label>
                <div class="text-danger" *ngIf="submitted && (registerForm.password === '' || registerForm.password.length < 6)">&nbsp;&nbsp;(Mật khẩu ít nhất 6 ký tự)</div>
            </div>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="registerForm.password" required>
        </div>

        <div class="mb-3">
            <div class="messageError">
                <label for="confirmPassword" class="form-label">Xác nhận mật khẩu</label>
                <div class="text-danger" *ngIf="submitted && (registerForm.confirmPassword !== registerForm.password)">&nbsp;&nbsp;(Mật khẩu xác nhận không khớp)</div>
            </div>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="registerForm.confirmPassword" required>

        </div>

        <div class="mb-3">
            <div class="messageError">
                <label for="birthDate" class="form-label">Ngày sinh</label>
                <div class="text-danger" *ngIf="submitted && registerForm.birthDate === ''">&nbsp;&nbsp;(Ngày sinh là bắt buộc)</div>
            </div>
            <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="registerForm.birthDate" required>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left: 45%;">Đăng ký</button>
    </form>
</div>